{% block teebb_file_widget -%}
    <{{ element|default('div') }} class="custom-file">
    {%- set type = type|default('file') -%}
    {%- set input_lang = 'en' -%}
    {% if app is defined and app.request is defined %}{%- set input_lang = app.request.locale -%}{%- endif -%}
    {%- set attr = {lang: input_lang} | merge(attr) -%}
    {{- block('form_widget_simple') -}}
    {%- set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' custom-file-label')|trim })|filter((value, key) => key != 'id') -%}
    <label for="{{ form.vars.id }}" {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
        {%- if attr.placeholder is defined and attr.placeholder is not none -%}
            {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
        {%- endif -%}
    </label>
    </{{ element|default('div') }}>

    {% if data and errors is empty %}
        <div>
            {% if show_image %}
                <img src="{{ asset(data.fileName, package_name) }}" {{- block('image_attr') -}} />
            {% else %}
                <a href="{{ asset(data.fileName, package_name) }}" download>{{ data.originName }}</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block image_attr %}
    {%- for attrname, attrvalue in image_attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endblock %}